@tailwind base;
@tailwind components;
@tailwind utilities;

/* components */
@import url("../layout/glow.module.css");
@import url("../components/GlowKeyBoard.module.css");
@import url("../components/Section.module.css");

/* general */
@import url("./keyframes.module.css");
@import url("./media-query.module.css");

@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
