.container {
  line-height: 16px;
  max-width: 600px;
  color: white;
}
.swiper_slide {
  padding: 0 16px;
  line-height: 1.2rem;
}
.swiper_container_wrapper__timeline .swiper_slide {
  display: flex;
  background: #151515;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.swiper_container_wrapper__timeline .swiper_slide .container {
  padding: 0;
  width: 100%;
}
.swiper_container_wrapper__timeline .swiper_slide .title {
  font-size: 18px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper_container_wrapper__timeline .swiper_slide_active .title {
  opacity: 1;
}
.swiper_container_wrapper__timeline .swiper-pagination-progressbar {
  position: relative;
  margin-bottom: 70px;
  background-color: transparent;
  height: 4px;
  border-bottom: 1px solid #888;
  width: 75%;
}
.swiper_container_wrapper__timeline .swiper-pagination-progressbar_fill {
  background-color: #000;
  height: 3px;
  top: 2px;
}
.swiper_container_wrapper__timeline .swiper_pagination_progressbar:before {
  position: absolute;
  top: 2px;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.swiper_container_wrapper__timeline .swiper_pagination_progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #888;
  content: "";
}
.swiper_container_wrapper__timeline .swiper_pagination_custom {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  z-index: 11;
  width: 100%;
  display: flex;
}
.swiper_container_wrapper__timeline .swiper_pagination_switch {
  width: 100%;
  display: block;
  right: 0;
}
.swiper_container_wrapper__timeline .swiper_pagination_switch .switch_title {
  font-weight: 400;
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}

.swiper_container_wrapper__timeline
  .swiper_pagination_custom
  .swiper_pagination_switch.active
  .switch_title {
  font-weight: 400;
  transition-delay: 0.4s;
}
.swiper_container_wrapper__timeline
  .swiper_pagination_custom
  .swiper_pagination_switch.active
  ~ .swiper_pagination_switch
  .switch_title {
  color: #888;
  font-weight: 16px;
}
.swiper_container_wrapper__timeline
  .swiper_pagination_custom
  .swiper_pagination_switch.active
  ~ .swiper_pagination_switch
  .switch_title:after {
  background: #888;
}
