.sectionContainer {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 0;
}

.sectionPart {
  position: relative;
  min-width: 30vw;
  line-height: 30vw;
  text-align: center;
  background-color: #15182388;

  border-radius: 0.45em;

  margin-top: 10%;
  padding: 2rem 1rem;
}

.sectionPart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  height: 100%;
  width: 100%;

  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, var(--glow-color), #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--glow-color);
  border: 0.15em solid var(--glow-color);
  padding: 0.35em 1em;
  border-radius: 0.45em;
  background: none;
  perspective: 2em;

  position: absolute;
  top: 7rem;

  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}
.temp:first-child {
  font-size: 2rem;
  margin-bottom: 0px;
}
